.chart-details-container {
  width: 100%;
  padding: 18px 30px 25px 13px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #D0D3E2;
  border-radius: 4px;
  margin-top: 34px;
  @include phone {
    margin: 0px 20px 20px 20px;
    width: auto;
    padding: 18px 15px 15px 15px;
    text-align: justify;
  }

  .content-is-open {
    display: flex;
  }

  .content-is-collapsed {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .chart-details-content {
    width: 100%;
    margin-top: 21px;
    // display: flex;
    justify-content: space-between;
    transition: 0.4s;
    clear: both;
    @include phone {
      flex-wrap: wrap;
    }

    .chart-install-button-phone {
      display: none;
      @include phone {
        display: block;
        height: 32px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
        background-color: #004ED6;
        border: 3px solid #004ED6;
        color: white;
        font-size: 14px;
        cursor: pointer;
      }
    }

    .chart-details-text {
      width: 733px;
      @include phone {
        width: auto;
      }
    }

    .chart-details-uses-explanation {
      width: 325px;
      min-height: 300px;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #efefef;
      padding: 8px 10px;
      display: flex;
      flex-direction: column;
      @include phone {
        width: 100%;
      }
       .item-block{
         margin-top: 10px;
         margin-bottom: 10px;
         border-bottom: 1px solid #d5cece;
         .items{
           margin-left: 10px;
         }
         span, a{
           margin-bottom: 5px;
         }
       }
       .item-block:last-child{
        border: none;
      }
      .uses-explanation-title {
        color: #999AA7;
        font-size: 16px;
        margin-top: 21px;
      }

      .uses-explanation-title:first-child {
        margin-top: 0;
      }

      .uses-explanation {
        color: #383842;
        margin-top: 1px;
        font-size: 16px;
      }
    }
  }

  .chart-details-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .chart-details-title-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      .chart-details-title {
        font-weight: bold;
        color: #23232A;
        font-size: 18px;
        margin-right: 5px;
      }
    }

    .chart-install-button {
      height: 32px;
      width: 325px;
      border-radius: 4px;
      background-color: #004ED6;
      border: 3px solid #004ED6;
      color: white;
      font-size: 14px;
      cursor: pointer;
      transition: 0.5s;
      @include phone {
        width: auto;
        display: none;
      }

      &:hover {
        color: #004ED6;
        background-color: white;
      }
    }
  }
}


.dark-gray{
  color: #46474b;
}
.modal-close-button {
  border: none;
  background-color: transparent;
  margin-right: -8px;
  cursor: pointer;

  .modal-close {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    transition: 0.5s;

    &:hover {
      &::after,
      &::before {
        background: gray;
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &.thick {
      &::after,
      &::before {
        height: 4px;
        margin-top: -2px;
      }
    }

    &.rounded {
      &::after,
      &::before {
        border-radius: 5px;
      }
    }
  }
}
