.list-view {
  margin-right: 0px !important;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 30px;
}
.list-view-width {
  width: 20% !important;
}

.chart-card-container {
  height: 290px;
  width: 255px;
  border-radius: 4px;
  margin-right: 37px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px 0 #D0D3E2;
  transition: 0.5s;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 13.53px;
  padding-left: 12.06px;
  padding-right: 12.06px;
  @include phone {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .chart-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12.03px;
    position: relative;
    z-index: 5;
  }

  .chart-provider {
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 14px;
    margin-top: 21.17px;
  }

  .chart-description {
    color: #383842;
    font-size: 14px;
    text-align: center;
  }

  .icon-container {
    height: 54px;
    @include flexCenter;
    margin-top: 13px;
    background-color: white;
    z-index: 2;
    position: relative;
    .icon-background {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      .icon {
        height: 50px;
      }
    }
    .chart-logo-text {
      width:100%;
      background-color: white;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo-background-circle {
      border-radius: 50%;
      position: absolute;
      width: 140px;
      height: 140px;
      display: block;
      border-color: transparent;
      z-index: -1;
    }

    .logo-background-circle:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      // background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: inset 10px 24px 40px 0px white,
                  inset -10px -24px 40px 0px white,
                  inset 20px -10px 40px 0px white,
                  inset -20px 10px 40px 0px white;
    }
  }

  .subchart-count-container {
    width: 100%;
    height: 18.54px;

    .subchart-count {
      padding: 4px 6px;
      height: 100%;
      border-radius: 12.5px;
      background-color: #B8FFFF;
      font-size: 12px;
      z-index: 5;
      font-weight: bold;
      color: #054C56;
      position: relative;
    }
  }
}

.chart-card-container:hover {
  box-shadow: 0 4px 15px 0 #D0D3E2;
}
