.list-view {
  margin-right: 0px !important;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 30px;
}
.list-view-width {
  width: 20% !important;
}

/* common */
.ribbon {
  overflow: hidden;
  position: relative;
}

.ribbon span {
  @include themify($themes) {
    z-index: 100;
    position: absolute;
    width: 120px;
    padding: 5px 0;
    background-color: red;
    color: themed("commonWhite");
    font: 700 18px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px themed("textShadow");
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    top: 0px;
  }
}

.ribbon-top-left span {
  right: 130px;
  top: 25px;
  transform: rotate(-45deg);
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.chart-card-container {
  @include themify($themes) {
    height: 240px;
    width: 225px;
    border-radius: 4px;
    margin-right: 37px;
    margin-bottom: 37px;
    background-color: themed("cardColor");
    box-shadow: 0 4px 10px 0 themed("boxShadow");
    transition: 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 13.53px;
    padding-left: 12.06px;
    padding-right: 12.06px;
    @include phone {
      margin-right: 0px;
      margin-bottom: 20px;
    }
    .chart-title {
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-top: 12.03px;
      position: relative;
      z-index: 5;
      color: themed("accentBlue");
    }
    a {
      text-decoration: none;
    }

    .chart-provider {
      width: 100%;
      text-align: center;
      color: themed("textGray");
      font-size: 14px;
      margin-top: 21.17px;
    }

    .chart-description {
      color: themed("textGray");
      font-size: 14px;
      text-align: center;
    }

    .icon-container {
      height: 54px;
      @include flexCenter;
      margin-top: 13px; ///13 px
      background-color: themed("cardColor");
      z-index: 1;
      position: relative;
      .icon-background {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: themed("cardColor");
        .icon {
          height: 50px;
        }
      }
      .chart-logo-text {
        width: 100%;
        background-color: themed("primaryColor");
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .logo-background-circle {
        border-radius: 50%;
        position: absolute;
        width: 40px;
        height: 40px;
        display: block;
        border-color: transparent;
        z-index: -1;
      }

      .logo-background-circle:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        // background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 10px 24px 40px 0px themed("boxShadow"),
          inset -10px -24px 40px 0px themed("boxShadow"), inset 20px -10px 40px 0px themed("boxShadow"),
          inset -20px 10px 40px 0px themed("boxShadow");
      }
    }

    .experiment-count-container {
      width: 100%;
      height: 18.54px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .experiment-count {
        padding: 4px 6px;
        height: 100%;
        border-radius: 12.5px;
        background-color: themed("accentLightGreen");
        font-size: 12px;
        z-index: 1;
        position: relative;
        right: 0px;
        font-weight: bold;
        text-align: right;
        color: themed("gradEnd");
      }
    }

    .experiment-analytics {
      font-size: 16px;
      padding: 2px 9px;
      font-weight: 700;
      color: themed("accentBlue");

      &:hover .chaos-tooltiptext {
        visibility: visible;
        position: absolute;
      }
      .chaos-tooltiptext {
        visibility: hidden;
        width: 48px;
        font-size: 10px;
        font-family: Lato;
        margin-left: 2px;
        background-color: themed("textGray");
        padding: 4px;
        color: themed("textPrimary");
        border-radius: 6px;
        position: absolute;
        z-index: 2;
      }
    }
    .experiment-chaos-type {
      font-size: 12px;
      float: right;
      padding: 2px 9px;
      position: relative;
      font-weight: 700;
      &:hover .chaos-tooltiptext {
        visibility: visible;
      }
      .chaos-tooltiptext {
        visibility: hidden;
        width: 140px;
        font-size: 13px;
        font-family: Lato;
        margin-left: 2px;
        background-color: themed("textGray");
        padding: 5px;
        color: themed("textPrimary");
        border-radius: 6px;
        position: absolute;
        z-index: 2;
      }
      .infra-icon {
        color: themed("accentOrange");
        font-size: 23px;
      }
    }
  }
}

.chart-card-container:hover {
  @include themify($themes) {
    box-shadow: 0 4px 15px 0 themed("boxShadow");
  }
}
