.hero-bg{
  background: linear-gradient(180deg, #008CD6 0%, #003659 100%);
}
.home-header-container {
  width: 100%;
  overflow: auto;
  background-image: url('/icons/hexagon_background.svg');
  z-index: 5;
  @include phone {
    padding: 0 0 30px;
    height: auto !important;
  }

  .chart-header-title-container {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    margin-top: 113px;
    padding-left: 2%;
    padding-right: 2%;
    @include phone {
      margin-top: 30px;
    }
    .chart-header-logo-container {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include phone {
        margin-left: 20px;
      }
    }
    
    .chart-header-title {
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .home-hexagon-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    z-index: 3;
  }

  .top-header-container {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone {
      flex-wrap: wrap;
      padding: 0 20px;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
    }

    .top-header-divide-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      .page-title {
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 0 5px;
        padding-top: 5px;
      }

      .logo-img {
        height: 40px;
      }
    }

    .top-header-contribute {
      margin-left: 15px;
      color: #FAFAFA;
      font-size: 14px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .contribute-icon-container {
        margin-left: 5px;
      }
    }

    a.home {
      margin-left: auto;
      margin-right: 15px;
    }
    
    .top-header-home {
      font-size: 14px;
      color: #FAFAFA;
    }

    .top-header-input {
      height: 30px;
      width: 253.75px;
      border-radius: 4px;
      border: none;
      padding-left: 5px;
      box-sizing: border-box;
      background-color: #FAFAFA;
      @include phone {
        order: 2;
        width: 100%;
        margin-top: 25px;
      }
    }

    .top-header-theme-changer{
      margin-left: 16px;
      cursor: pointer;
      &.light{
        color: white;
      }
      &.dark{
        color: black;
      }
    }
  }

  .home-header-title-1 {
    margin-top: 50px;
    color: white;
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    @include phone {
      margin-top: 20px;
      font-size: 35px;
      padding: 0 20px;
    }
  }

  .home-header-title-2 {
    color: #D1D2D9;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    @include phone {
      padding: 0 20px;
      font-size: 23px;
    }
  }

  .home-header-title-3 {
    color: #D1D2D9;
    font-family: Lato;
    font-size: 17px;
    text-align: center;
    @include phone {
      display: none;
    }
  }
}
