.video-modal-content {
  @include themify($themes) {
    width: 894px;
    padding: 18px 27px 20px 27px;
    display: flex;
    flex-direction: column;

    @include phone {
      width: auto;
      padding: 0;
    }

    .video-modal-header {
      width: 100%;
      display: flex;

      .video-modal-img-placeholder {
        width: 38px;
        height: 38px;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;

        border: 3px solid themed("border");
        border-radius: 10px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .tutorial-video {
        width: auto;
        height: auto;
      }

      .video-modal-header-title-container {
        margin-left: 10px;

        .modal-title {
          margin: 0;
          font-size: 15px;
        }
      }
    }
  }
}
