.chart-page-container {
  @include themify($themes) {
    background-color: themed("primaryColor");
    @include phone {
      width: auto;
    }
    .chart-page-content {
      box-sizing: border-box;
      padding: 32.5px 153px 49px 153px;
      @include phone {
        padding: 0;
      }
      .chart-page-header {
        height: 63.1px;
        padding-bottom: 11.1px;
        border-bottom: 1px solid themed("border");
        @include phone {
          padding: 20px 0px 20px 20px;
          border: none;
        }
        .chart-page-header-breacrumbs-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 20px;
          margin-top: 10px;
          .breadcrumbs {
            font-size: 12px;
            .breadcrumb-text {
              color: themed("textSecondary");
              margin-left: 2px;
              margin-right: 2px;
            }
          }
          .chart-header-filters-container {
            display: flex;
            @include phone {
              display: none;
            }
            .header-filter {
              display: flex;
              align-items: center;
              cursor: pointer;
              .header-filter-label {
                margin-left: 5px;
                margin-right: 20px;
              }
            }
          }
        }
        a {
          text-decoration: none;
        }

        .chart-page-nav-back-container {
          display: flex;
          align-items: center;
          height: 30px;
          .nav-back-icon-container {
            border: 2px solid themed("accentBlue");
            color: themed("accentBlue");
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding-top: 0.4px;
            box-sizing: border-box;
            transition: 0.5s;
            &:hover {
              background-color: themed("hover");
            }
          }
          .chart-page-title-container {
            border-left: 2px solid themed("textSecondary");
            height: 100%;
            margin-left: 16px;
            display: flex;
            align-items: center;
            .chart-page-title {
              color: themed("textSecondary");
              font-size: 18px;
              padding-left: 10px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
