.home-container {
  @include themify($themes) {
    width: 100%;
    @include phone {
      width: auto;
    }

    .home-content {
      box-sizing: border-box;
      padding-left: 115px;
      padding-right: 66px;
      padding-top: 60px;
      display: flex;
      flex-direction: row;
      position: relative;
      @include phone {
        padding: 0;
      }

      .chart-container {
        flex-grow: 100;

        .phone-filter-button-container {
          display: none;
          @include phone {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 20px;
            margin-bottom: 15px;
            margin-top: 15px;
            padding-left: 20px;
            box-sizing: border-box;
          }

          svg {
            margin-right: 7px;
          }
        }

        .chart-grid {
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          padding-top: 37.55px;
          @include phone {
            justify-content: center;
            padding-left: 20%;
            padding-right: 20%;
          }
        }

        .chart-filter-container {
          width: 100%;
          border-bottom: 1px solid themed("border");
          padding-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @include phone {
            height: 40px;
            align-items: end;
            box-sizing: border-box;
            padding-left: 11px;
            padding-right: 11px;
          }

          .chart-count {
            .bold-number {
              font-weight: bold;
            }
            color: themed("textGray");
            font-size: 14px;
            font-weight: 300;
            @include phone {
              margin-left: 10px;
            }
          }

          .chart-filter-controls-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            svg {
              cursor: pointer;
              color: themed("textSecondary");
            }

            img {
              cursor: pointer;
              background-color: themed("commonWhite");
            }

            .filter-control-label {
              cursor: pointer;
              color: themed("textGray");
              font-size: 14px;
              margin-right: 42px;
              margin-left: 5px;
              @include phone {
                margin-right: 10px;
              }
            }

            .filter-control-label:nth-child(2) {
              margin-right: 0;
            }
          }
        }
      }
    }
    .footer-content {
      background: themed("secondaryColor");
      color: themed("commonWhite");
      padding-bottom: 30px;
      position: static;
      bottom: 0px;
      width: 100%;
      left: 0;
      text-align: left;
    }
  }
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.gray-text-color {
  @include themify($themes) {
    color: themed("textGray");
  }
}
