.home-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  width: 1366px;
  @include phone {
    width: auto;
  }

  .home-content {
    box-sizing: border-box;
    padding-left: 153px;
    padding-right: 153px;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    @include phone {
      padding: 0;
    }

    .chart-container {
      flex-grow: 100;

      .phone-filter-button-container {
        display: none;
        @include phone {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 20px;
          margin-top: 10px;
          padding-left: 10px;
          box-sizing: border-box;
        }

        svg {
          margin-right: 7px;
        }
      }

      .chart-grid {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 37.55px;
        @include phone {
          justify-content: center;
          padding-left: 20%;
          padding-right: 20%;
        }
      }

      .chart-filter-container {
        width: 100%;
        border-bottom: 1px solid #D1D2D9;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include phone {
          height: 40px;
          align-items: end;
        }

        .chart-count {
          .bold-number {
            font-weight: bold;
          }
          color: #383842;
          font-size: 14px;
          font-weight: 300;
          @include phone {
            margin-left: 10px;
          }
        }

        .chart-filter-controls-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          svg {
            cursor: pointer;
          }

          img {
            cursor: pointer;
          }

          .filter-control-label {
            cursor: pointer;
            color: #383842;
            font-size: 14px;
            margin-right: 42px;
            margin-left: 5px;
            @include phone {
              margin-right: 10px;
            }
          }

          .filter-control-label:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
