$icomoon-font-family: "maya-icons" !default;
$icomoon-font-path: "fonts" !default;

$mi-link: "\e947";
$mi-disable: "\e945";
$mi-view: "\e944";
$mi-table: "\e943";
$mi-add-user: "\e93d";
$mi-share: "\e942";
$mi-container: "\e940";
$mi-Group-4-Copy: "\e946";
$mi-filter: "\e93b";
$mi-star: "\e93c";
$mi-arrow-up-down: "\e93e";
$mi-user: "\e941";
$mi-loader: "\e932";
$mi-hamburger: "\e92d";
$mi-circle-add: "\e90b";
$mi-circle-minus: "\e928";
$mi-clock1: "\e92b";
$mi-rocket-share: "\e90a";
$mi-settings: "\e93a";
$mi-tree-network: "\e92a";
$mi-chevrons-right: "\e904";
$mi-chevrons-left: "\e914";
$mi-chevron-right: "\e933";
$mi-chevron-left: "\e934";
$mi-chevron-up: "\e935";
$mi-chevron-down: "\e937";
$mi-x: "\e916";
$mi-user-switch: "\e938";
$mi-application: "\e901";
$mi-mail: "\e900";
$mi-check-list: "\e902";
$mi-file: "\e903";
$mi-bell: "\e905";
$mi-play-square: "\e906";
$mi-logs: "\e907";
$mi-dashboard: "\e936";
$mi-search: "\e908";
$mi-alert-triangle: "\e909";
$mi-slack: "\e90c";
$mi-align-left: "\e90d";
$mi-arrow-right-curve: "\e90e";
$mi-arrow-left-curve: "\e90f";
$mi-key: "\e910";
$mi-cloud-reload: "\e911";
$mi-cloud-up-down: "\e912";
$mi-eye: "\e913";
$mi-circle-info: "\e915";
$mi-check-circle: "\e917";
$mi-id-card: "\e918";
$mi-lightbulb: "\e919";
$mi-x-circle: "\e91a";
$mi-home: "\e91b";
$mi-check-square: "\e91c";
$mi-database: "\e91d";
$mi-form: "\e91e";
$mi-litmus: "\e91f";
$mi-arrow-down-circle: "\e920";
$mi-arrow-up-circle: "\e921";
$mi-arrow-right-circle: "\e922";
$mi-arrow-left-circle: "\e923";
$mi-book: "\e924";
$mi-plug-connect: "\e925";
$mi-ellipsis-horizontal: "\e926";
$mi-ellipsis-vertical: "\e927";
$mi-edit: "\e929";
$mi-clipboard-pen: "\e92c";
$mi-trash: "\e939";
$mi-chart-bar-up: "\e92e";
$mi-frequency: "\e92f";
$mi-cluster: "\e931";
$mi-clock: "\e930";
$mi-upgrade: "\e93f";

