@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import 'styles/home';
@import 'styles/components/home-header';
@import 'styles/components/chart-card';
