@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//mixins
@import 'styles/mixins';

// pages
@import 'styles/home';
@import 'styles/chart';

// components
@import 'styles/components/home-header';
@import 'styles/components/chart-details';
@import 'styles/components/chart-card';
@import 'styles/components/react-modal-custom-styles';
@import 'styles/components/install-modal-content';
@import 'styles/components/home-filter';
@import 'styles/components/footer';
